.main-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding: 114px 50px 50px 50px;
}

.main-page__row {
    display: flex;
    gap: 45px;
}

.main-page__welcome {
    padding: 18px;
    border: 0.5px solid #E8E9EA;
    color: #4F5459;
    display: flex;
    gap: 5px;
    font-size: 14px;
    width: fit-content;
    height: fit-content;
    width: 500px;
}

.main-page__welcome-text {
    display: flex;
    gap: 5px;
}

.main-page__welcome-name {
    font-weight: 600;
}

.main-page__smt {
    color: #4F5459;
}