.task-page {
    display: flex;
    gap: 50px;
    padding: 100px 50px 0px 50px;
}

.task-page__form {
    display: flex;
    width: fit-content;
    gap: 20px;
    width: 300px;
}

.task-page__main-fields {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
    width: 300px;
}

.task-page__secondary-fields {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-between;
    align-items: flex-end;
}

.task-page__text-field {
    width: 300px;
}

.task-page__select {
    width: 300px;
}

.task-page__date-field {
    width: 300px;
}

.task-page__button {
    width: fit-content;
}