.tasks-list {
    display: flex;
    flex-direction: column;
    padding: 80px 50px 0px 50px;
    gap: 20px;
    height: 100%;
}

.tasks-list__row {
    display: flex;
    gap: 45px;
}

.tasks-list__status-tasks-cards {
    display: flex;
    gap: 50px;
    height: 100%;
    width: 100%;
}