.task-settings__form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
    align-items: end;
    width: 300px;
}

.task-settings__text-field {
    width: 100%;
}

.task-settings__select {
    width: 100%;
}

.task-settings__date-field {
    width: 100%;
}

.task-settings__button {
    width: fit-content;
}