.holiday-list__label {
    color: #006838;
    font-weight: 600;
    font-size: 17px;
    border-bottom: 2px solid #F5F8F7;
    padding-bottom: 10px;
}

.holiday-list__list {
    padding: 15px 0px;
    gap: 10px;
}

.holiday-list__holiday {
    display: flex;
    justify-content: space-between;
}

.holiday-list__holiday-name {
    color: #000000;
    font-weight: 600;
    width: 70%;
}

.holiday-list__holiday-date {
    color: #103725;
    font-weight: 600;
    width: 120px;
}