html, body {
    height: 100vh;
    margin: 0;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    color: var(--font-color);
    background-color: var(--backround-color);
}

:root {
    --main-color: #006838;
    --main-light-color: #D9E8E1;
    --backround-color: #F5F8F7;
    --not-found-page-background-color: #001B0F;
    --font-color: #021130;
    --white-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

#root {
    height: 100vh;
}

::-webkit-scrollbar {
    width: 2px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #809FA9;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #DDECF1;
}