.tasks-status-analysis-chart__container {
    display: flex;
    font-weight: 600;
}

.tasks-status-analysis-chart__data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tasks-status-analysis-chart__data-label {
    margin-bottom: 10px;
}

.tasks-status-analysis-chart__count-tasks {
    display: flex;
    gap: 5px;
    font-weight: 500;
}

.tasks-status-analysis-chart__count-tasks-label {
    color: #006838;
}