.status-tasks-card {
    width: 100%;
    border-radius: 20px;
}

.status-tasks-card__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 300px;
    overflow-y: scroll;
    padding-right: 10px;
    padding-bottom: 10px;
}

.status-tasks-card__title {
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
    display: flex;
}